[user]
	signingkey = 276493428D7322D1
	name = Thomas de Jong
    email = thomas.dejong@elements.nl

[core]
    editor = nvim
    pager = delta

[pull]
    rebase = true

[rebase]
    autoStash = true

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    clone-for-worktrees = "!sh $HOME/.local/bin/clone-for-worktrees"

[push]
    default = current

[commit]
    verbose = true

[delta]
    line-numbers = true
    side-by-side = false
    file-modified-label = modified:

    syntax-theme = gruvbox-dark
    plus-style = syntax  "#003800"
    minus-style = syntax "#3f0001"

[interactive]
    diffFilter = delta --color-only

[diff]
    tool = vimdiff

[difftool "vimdiff"]
    path = nvim

[merge]
    tool = vimdiff
    conflicstyle = diff3
    prompt = false

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    path = nvim

[color]
    ui = true
